body {
    font-family: Arial;
    background: #121212;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff1e2d;
}

.movie-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    width: 150px;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card p {
    margin-top: 10px;
}
